<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Template for Bootstrap</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
</head>
<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/home">主页</a>
            <a class="blog-nav-item navbar-right active" href="/users/login">登入</a>
            <a class="blog-nav-item navbar-right" href="/users/reg">注册</a>
        </nav>
    </div>
</div>

<div class="container">
    <% if(locals['error']){ %>
    <div class="alert alert-danger" role='alert'>
        <%= error %>
    </div>
    <% } %>
    <form class="form-signin" role="form" action='/users/login' method="post">
        <h2 class="form-signin-heading">登录</h2>
        <input type="text" class="form-control" placeholder="用户名" name="username" required autofocus>
        <input type="password" class="form-control" placeholder="密码" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div><!-- /.container -->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
